<% provide(:title, 'Sign up') %>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="logo span4 col-xs-4">
                <h1><a href="">iMusic <span class="red">.</span></a></h1>
            </div>
            <div class="links span8 col-xs-8">
                <a class="home" href="" rel="tooltip" data-placement="bottom" data-original-title="Home"></a>
                <a class="blog" href="" rel="tooltip" data-placement="bottom" data-original-title="Blog"></a>
            </div>
        </div>
    </div>
</div>
<div class="register-container container">
    <div class="row">
        <div class="iphone span5 col-xs-5">
            <%= image_tag("iphone.png", alt: "") %>
        </div>
        <div class="register span6 col-xs-6">
              <%= render partial: "form", locals: {submit_tittle: "Create my account"} %>
        </div>
    </div>
</div>

        





